/* Fonts */

@font-face{
	font-family: 'TitilliumWeb-bold';
	src: url('../fonts/TitilliumWeb-Bold.ttf');	
}
@font-face{
	font-family: 'TitilliumWeb-regular';
	src: url('../fonts/TitilliumWeb-Regular.ttf');
}
@font-face{
	font-family: 'TitilliumWeb-Light';
	src: url('../fonts/TitilliumWeb-Light');
}

html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'TitilliumWeb-regular';
	font-size: 14px;
	font-weight: normal;
	background-color: white;
}

/*------------------------------ MENU ------------------------------*/
.navbar {
	font-size: 14px;
	text-transform: uppercase;
	color: black;
	margin: 0px;
	font-family: 'TitilliumWeb-Bold';
}
.caret {
	color: #fff;	
    margin-left: 5px;
}
.navbar-default{
	border: none;	
	background-color: transparent;
	margin-top: 10px;
	margin-bottom: 15px;
}
.navbar-default .navbar-nav > li > a {
	color: black;
	padding: 10px 8px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	background: white;
	color: #3fa9f5;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus{
	color: #3fa9f5;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	color: #3fa9f5;
	background: rgba(169, 169, 169, 0.08); 
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus{
	color: #3fa9f5;
	background: rgba(169, 169, 169, 0.08);
}
.dropdown-menu > li > a {
	color: #777;
}
.dropdown-menu {	
	font-size: 13px;
	padding: 0px;
	border: none;
	box-shadow: none;
	left: 0px;
	border-radius: 0px;
}
.dropdown-menu > li::after{
	content: " ";
	position: absolute;
	background: rgb(14, 14, 14);
	height: 1px;
	width: 100%;
}
.dropdown-menu > li > a{
	padding: 5px 15px;
}
.navbar-right .dropdown-menu{
	left: 0px;
}
.navbar-default .navbar-toggle {	
	border: none;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background: rgba(169, 169, 169, 0.08);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #0071bc;
}
.navbar-default .navbar-toggle {
    border-color: #0071bc;
}
.navbar-brand {
	position: relative;
	height: 50px;
	padding: 5px 0px;
}
.navbar-brand > img {
	height: 100%;
}
@media (min-width: 768px) {
  	.navbar-right {
		margin-right: 0px;
	}
  	.navbar-collapse {
		padding-right: 0px;
		padding-left: 0px;
	}
}
/*------------------------------ GENERAL ------------------------------*/
hr {
	margin: 5px 0px;
}
h1 {
	font-family: 'TitilliumWeb-bold';
	font-size: 16px;
	color: #3fa9f5;
}
.line {
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: #0071bc;
}

.form-group label {	
	font-weight: normal;	
}
.form-control:focus {
    border-color: rgba(63, 169, 245, 0.5);
}
.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn.active.focus {
    outline: 5px auto rgba(63, 169, 245, 0.5);
}
.form-buttons {
	text-align: right;
	margin-top: 30px;
	margin-bottom: 30px;
}
.form-buttons button {
	min-width: 150px;
}
.form-alert-message{
	color: grey;
	margin-top: 5px;
}
.form-alert-message .icon{
	fill: #ffcd48;
	width: 18px;
    height: 18px;
    float: left;
    margin-right: 5px;
}
.btn.btn-default.blue {
	background: #0071bc;
	color: white;
	border-color: #0071bc;
}
.high{
	font-family: 'TitilliumWeb-bold';
}
/*------------------------------ MODAL ------------------------------*/
.modal-content {
	border: none;
	box-shadow: none;
}
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-header {
    color: #3fa9f5;
}
/*------------------------------ FLASH MESSAGE ------------------------------*/
.flash-message {
	display: none;
}

.flash-message {
	bottom: 0;	
	left:50%;
	position: absolute;	
	z-index: 100;
}
.flash-message .content{
	padding: 15px;
	left: -50%;
	background: #3fa9f5;
	width: 400px;
	height: 90px;
	color: white;
	position: relative;
}

.flash-message .icon-content {
	margin-top: 10px;
	float: left;
	margin-right: 15px;
}

.flash-message .content .icon{
	fill: white;
	width: 40px;
	height: 40px;
}

.flash-message .data-content p.title{
	font-family: 'TitilliumWeb-bold';
	margin-bottom: 0px;
	margin-top: 10px;
}
.flash-message .content .close-icon {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
.flash-message .content .close-icon:hover {
	opacity: 0.8;
}
.flash-message .content .close-icon .icon {
	width: 15px;
	height: 15px;
	fill: white;
}

/*------------------------------ FORM ------------------------------*/
.general-content .ui-state-highlight{
	background: #f9f9f9;
	height: 100px;
}
.general-content {
	position: relative;
}
.general-content .form-options{
	position: absolute;
	width: 35px;
	height: 105px;	
	top: 30px;
	right: 0px;
}
.general-content .form-options .add-question,
.general-content .form-options .add-section,
.general-content .form-options .delete-section{
	background: #3fa9f5;
	width: 35px;
	height: 35px;
	padding: 5px;
	position: relative;
}
.general-content .form-options .delete-section {
	background: #F75B58;	
}


.general-content .form-options .add-question:hover,
.general-content .form-options .add-section:hover,
.general-content .form-options .delete-section:hover {
	opacity: 0.8;
}
.general-content .form-options .icon {
	fill: white;
	width: 25px;
	height: 25px;
}
.general-content li {
	list-style-type: none;	
}
.general-content ul {
	padding: 0px;	
}
li.section p.title.section {
	margin-top: 15px;
	color: #777;
	text-transform: uppercase;
	font-family: 'TitilliumWeb-bold';
	cursor: pointer;
}
li.section.selected p.title.section {
	color: #3fa9f5;
	font-family: 'TitilliumWeb-bold';
	text-transform: uppercase;	
}
ul.sections {
	width: calc(100% - 50px);
}
ul.sections > li {
	border: none;
}

li.question .question-number {
	margin-left: -11px;
    margin-right: -15px;
    background: #efefef;
    padding: 5px;
    margin-bottom: 15px;
	cursor: move;
}
li.question .question-number p {
	margin: 0px;
}
li.question {
	border: 1px solid #eee;
	padding: 0px 15px;
	margin-top: -1px;
	position: relative;
}
li.question ul.question-image hr{
	margin-left: 4px;
}
li.question.selected {
	box-shadow: 1px 0px 15px #e2e2e2;
}
li.question{
	background: white;
}
li.question .mask{
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(63, 169, 245, 0.3);
	height: 100%;
	width: 4px;
}
li.question .mask.selected {	
	background: rgba(63, 169, 245, 1);	
}
li.question ul.input-options > li {
	padding: 5px 0px;
	border: none;
}
li.question ul.input-options li.add-more-btn-content {
	text-align: center;
}

li.question .input-group-addon {
	background: #f9f9f9;
}
li.question ul.input-options .input-group-addon.delete-button-content .icon {
	fill: #3fa9f5;
	width: 18px;
	height: 18px;
}
li.question ul.input-options .input-group-addon.delete-button-content .icon:hover,
li.question .question-options .buttons a .icon:hover {
	opacity: 0.8;
}
li.question .question-options {
	margin-bottom: 5px;
}
li.question .question-options .buttons{
	text-align: right;
}
li.question .question-options .buttons a .icon {
	fill: #3fa9f5;
	width: 20px;
	height: 20px;
}
li.question li.option .delete-button-content{
	width: 44px;
}

li.question li.option .input-group-addon.select .icon {
	height: 13px;
    width: 13px;
    fill: grey;
}

li.question .question-options .form-group{
	margin-bottom: 0px;
}

li.question .form-inline .form-group {
	margin-right: 10px;
}
li.question ul.question-image li:first-child{
	margin-bottom: 5px;
}
/*------------------------------ INDEX ------------------------------*/
.list .menu-content {
	background: #f9f9f9;
	/*background-color: #3fa9f5;*/
	padding: 15px 0px;
	margin-bottom: 15px;
}
.list .menu-content .button-content {
	text-align: right;
}
.list .menu-content .button-content a,
.list .menu-content .button-content button {
	margin-left: 10px;
}
.list table thead{
	font-family: 'TitilliumWeb-bold';
    color: black;
}

.list .table td a svg{
	fill: #3fa9f5;
	width: 22px;
	height: 22px;	
}
.list .table td.cell-selection{
	width: 29px;
}
.list .table td.with-icon {
	width: 38px;
}
.list .pagination-content {
    text-align: center;
    margin-bottom: 30px;
}
.list .pagination-content .pagination > li > a {
    border: solid 1px #4c83be;
    border-radius: 0px;
    margin-left: 3px;
    margin-right: 3px;    
    font-size: 12px;
    color: #0071bc
}

.list .pagination-content .pagination > li:last-child > a, 
.list .pagination-content .pagination > li:first-child > a {
    border-radius: 0px;
}
.list .pagination-content .pagination > .active > a {
	background: #0071bc;
	border-color: #0071bc;
	color: white;
}
.list .pagination-content .pagination > li.active > a:hover{
	background-color: #0071bc;
}
.list .pagination-content .pagination > li > a:hover{
	background-color: #f9f9f9;
}
@media screen and (max-width: 991px){
	.list .menu-content .button-content{
		margin-top: 15px;
	}
}
.list p.message-no-data {
	font-size: 20px;
    text-align: center;
    color: grey;
    margin-top: 60px;
}
.list p.message-no-data.link {
	margin: 0px;
}

.list p.message-no-data.link a{	
	text-decoration: none;	
	font-size: 18px;
	color: #4c83be;
}

/*------------------------------ LOGIN ------------------------------*/
.line.login {
	z-index: 100;
}
.login-content { 
	background-image: url('../images/background-login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	min-height: 100vh;
}
.login-content .form-content {
	min-height: 100vh;
	position: relative;
	background: white;
	padding: 30px;	
}

.login-content .logo{
	text-align: center;	
	position: relative;
}

.login-content .logo img {
	/*max-height: 40px;*/
        max-height: 65px;
}

.login-content h1 {	
	text-align: center;
}
.login-content .message-login {
	text-align: right;
}

.table{
	background-color: white;
}
.container-fluid{
	background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}
h1{
   color: white;
    font-size: 17px; 
}

